/* @settings

name: ion
id: ion
settings:
  -
    id: bloom
    title: Bloom
    type: heading
    level: 2
  -
    id: bloom-fct
    title: Strength
    type: variable-number-slider
    default: .3
    min: 0
    max: 1
    step: .05
  -
    id: ion-threshold
    title: Threshold
    type: variable-number-slider
    default: 80
    min: 0
    max: 100
    step: 5

*/

/*Reset*/
.theme-dark {
  --color-base-00: #000;
  --color-base-10: #000;
  --color-base-20: #000;
  --color-base-25: #000;
  --color-base-30: #002;

  --color-base-50: #013;

  --color-base-70: #014;
  --color-base-100: #024;
}

body {
  --bloom-fct: .3;
  --bloom-const: .1em;
  --bloom: calc(var(--bloom-const) * var(--bloom-fct));
  --ion-threshold: 80;

  --base-h: 25;
  --base-s: 40%;
  --base-l-p: 85;

  --ion-h: var(--base-h);
  --ion-s: var(--base-s);
  --ion-l-p: var(--base-l-p);
}

* {
  --ion-l: calc(var(--ion-l-p) * 1%);

  --ion-color: hsl(var(--ion-h), var(--ion-s), var(--ion-l));

  --bloom-hsl: var(--ion-h), var(--ion-s), 50%;

  --bloom-color: hsl(var(--ion-h), var(--ion-s), 50%);
  --bloom-size: calc(var(--bloom) * (var(--ion-l-p) - var(--ion-threshold)));
}

body,
.markdown-preview-view,

.inline-title,

.cm-header,
.markdown-preview-view :is(h1, h2, h3, h4, h5, h6),

.cm-line, .markdown-preview-view p,

:is(a, .external-link, .cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-hmd-internal-link):is(*, :hover),
.markdown-source-view.mod-cm6 :is(.cm-link, .cm-url) .cm-underline:hover,

.callout, .callout-title,

.markdown-rendered code, .cm-s-obsidian span.cm-inline-code,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock,
.markdown-source-view.mod-cm6 .code-block-flair,
.token.punctuation, .cm-punctuation, .cm-bracket, .cm-hr,

.cm-s-obsidian .cm-math,
.cm-s-obsidian span.cm-formatting-math,

.nav-folder.mod-root > .nav-folder-title,
body:not(.is-grabbing) :is(.nav-file-title, .nav-folder-title):is(
  *, :hover, .is-active, .is-active:hover),

.cm-s-obsidian span.cm-footref, .cm-s-obsidian span.cm-blockid,
.cm-s-obsidian .cm-line.HyperMD-footnote span.cm-hmd-footnote:is(*, :hover),

.cm-s-obsidian span.cm-hmd-escape-char,

.setting-item-name,
.setting-item-description,
.vertical-tab-header-group-title,

select, .dropdown,

.modal-close-button:is(*, :hover),

.view-header-title-parent :is(.view-header-breadcrumb:is(*, :hover),
  .view-header-breadcrumb-separator),
:is(*, .is-focused .workspace-leaf.mod-active) .view-header-title,

:is(*, .is-focused .mod-active) .workspace-tab-header.is-active .workspace-tab-header-inner-title,

.cm-s-obsidian span.cm-comment,

ol > li::marker, ul > li::marker, .cm-s-obsidian .cm-formatting-list,

strong, .cm-strong,

:is(*, .tree-item-self:hover) .tree-item-flair,

.search-result:not(.is-collapsed) .search-result-file-title,
.search-result-file-match:is(*, :hover),

textarea, input[type='text'], input[type='search'], input[type='email'], input[type='password'], input[type='number']
{
  color: var(--ion-color);
  text-shadow: 0 0 var(--bloom-size) var(--bloom-color), 0 0 min(calc(var(--bloom-size) / 2), 1em) var(--bloom-color);
}

body {
  --icon-bloom: calc(var(--bloom) * 1);
  --icon-bloom-size: calc(var(--bloom-size) / 3);

  --marker-bloom-size: calc(var(--bloom-size) / 5);
}

.search-result-hover-button,

.search-input-clear-button,

.callout-icon > .svg-icon,

.is-focused .mod-active .workspace-tab-header.is-active :is(
  .workspace-tab-header-inner-icon, .workspace-tab-header-inner-close-button)
{
  color: var(--ion-color);
  filter:
    drop-shadow(0px 0px var(--icon-bloom-size) var(--bloom-color))
    drop-shadow(0px 0px var(--icon-bloom-size) var(--bloom-color));
}

.list-bullet:after {
  background-color: var(--ion-color);

  box-shadow: 0 0 var(--marker-bloom-size) var(--marker-bloom-size) hsla(var(--bloom-hsl), .1);
}


h1, h2, h3, h4, h5, h6,
.inline-title,
.cm-header {
  --ion-s: 100%;
  --ion-l-p: 90;
}

h1, .cm-header-1 { --ion-h: calc(10 + 0 * 50); }
h2, .cm-header-2 { --ion-h: calc(10 + 1 * 50); }
h3, .cm-header-3 { --ion-h: calc(10 + 2 * 50); }
h4, .cm-header-4 { --ion-h: calc(10 + 3 * 50); }
h5, .cm-header-5 { --ion-h: calc(10 + 4 * 50); }
h6, .cm-header-6 { --ion-h: calc(10 + 5 * 50); }



a,
.external-link,
.cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-hmd-internal-link,

.HyperMD-footnote .cm-hmd-footnote
{
  --ion-h: var(--accent-h);
  --ion-s: 70%;
}

:is(a, .external-link, .cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-hmd-internal-link):hover {
  --ion-l-p: 120;
}



.callout { --callout-h: 217; --callout-s: 100%; --callout-l-p: 63; } .callout:is([data-callout="abstract"], [data-callout="summary"], [data-callout="tldr"]) { --callout-h: 198; --callout-s: 100%; --callout-l-p: 50; } .callout:is([data-callout="info"], [data-callout="todo"]) { --callout-h: 187; --callout-s: 100%; --callout-l-p: 41; } .callout:is([data-callout="tip"], [data-callout="hint"], [data-callout="important"]) { --callout-h: 171; --callout-s: 100%; --callout-l-p: 37; } .callout:is([data-callout="success"], [data-callout="check"], [data-callout="done"]) { --callout-h: 144; --callout-s: 100%; --callout-l-p: 39; } .callout:is([data-callout="question"], [data-callout="help"], [data-callout="faq"]) { --callout-h: 96; --callout-s: 81%; --callout-l-p: 47; } .callout:is([data-callout="warning"], [data-callout="caution"], [data-callout="attention"]) { --callout-h: 34; --callout-s: 100%; --callout-l-p: 50; } .callout:is([data-callout="failure"], [data-callout="fail"], [data-callout="missing"]) { --callout-h: 0; --callout-s: 100%; --callout-l-p: 66; } .callout:is([data-callout="danger"], [data-callout="error"]) { --callout-h: 348; --callout-s: 99%; --callout-l-p: 54; } .callout[data-callout="bug"] { --callout-h: 338; --callout-s: 100%; --callout-l-p: 48; } .callout[data-callout="example"] { --callout-h: 255; --callout-s: 100%; --callout-l-p: 65; } .callout:is([data-callout="quote"], [data-callout="cite"]) { --callout-h: 0; --callout-s: 0%; --callout-l-p: 61; }

.callout {
  background-color: transparent;

  --callout-bloom: calc(var(--bloom) * .5);

  --callout-l-p: 85 !important;
  --callout-l: calc(var(--callout-l-p) * 1%);
  --ion-callout-color: hsl(var(--callout-h), var(--callout-s), var(--callout-l));
  --callout-bloom-hsl: var(--callout-h), var(--callout-s), 50%;
  --callout-bloom-size: calc(var(--callout-bloom) * (var(--callout-l-p) - var(--ion-threshold)));

  border-width: var(--size-2-1);
  border-color: hsl(var(--callout-h), var(--callout-s), var(--callout-l));

  --callout-bloom-size-s: calc(var(--callout-bloom-size) / 4);

  box-shadow:
    0 0 var(--callout-bloom-size)   var(--callout-bloom-size)   hsla(var(--callout-bloom-hsl), .5),
    0 0 var(--callout-bloom-size)   var(--callout-bloom-size)   hsla(var(--callout-bloom-hsl), .5) inset,
    0 0 var(--callout-bloom-size-s) var(--callout-bloom-size-s) hsla(var(--callout-bloom-hsl), .5),
    0 0 var(--callout-bloom-size-s) var(--callout-bloom-size-s) hsla(var(--callout-bloom-hsl), .5) inset;

  --ion-color: var(--ion-callout-color);
}

.callout,
.callout-title, .callout-title *,
.callout-content, .callout-content p {
  /*--ion-color: inherit;*/
  --ion-h: var(--callout-h);
  --ion-s: var(--callout-s);
  --ion-l-p: var(--callout-l-p);
}

/*to make box-shadow visible.. not sure if problematic?*/
.markdown-source-view.mod-cm6 .cm-content > [contenteditable=false]
{ contain: none !important; }
.cm-embed-block.markdown-rendered.cm-callout.show-indentation-guide
{ overflow: visible; }



/*.cm-s-obsidian :is(.cm-inline-code, .cm-math),
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock,
.cm-s-obsidian :is(.HyperMD-codeblock-begin, .HyperMD-codeblock-end),
.markdown-rendered code,
.cm-s-obsidian span.cm-inline-code,
kbd
{
  --ion-l-p: 60;
}*/

/*.markdown-rendered code, .cm-s-obsidian span.cm-inline-code*/
code, .cm-s-obsidian .cm-inline-code,
.HyperMD-codeblock,
.cm-footref, .cm-blockid
{
  --ion-l-p: 60;
}

.cm-comment {
  --ion-l-p: 10;
}

strong, .cm-strong {
  --ion-l-p: 94;
}



textarea, input[type='text'], input[type='search'], input[type='email'], input[type='password'], input[type='number'] {
  border-color: hsl(var(--callout-h), var(--callout-s), var(--callout-l));

  box-shadow:
    0 0 var(--bloom-size) var(--marker-bloom-size) var(--bloom-color),
    0 0 var(--bloom-size) var(--marker-bloom-size) var(--bloom-color) inset;
}

body {
  --search-icon-color: var(--ion-color);
}
