/* @settings
name: ion
id: ion
settings:
  -
    id: colors
    title: Colors
    type: heading
    level: 2
  -
    id: base-h
    title: Base hue
    type: variable-number-slider
    default: 25
    min: 0
    max: 360
    step: 1
  -
    id: base-s
    title: Base saturation
    type: variable-number-slider
    default: 40
    min: 0
    max: 100
    step: 1
    format: "%"
  -
    id: base-l-p
    title: Base lightness
    type: variable-number-slider
    default: 85
    min: 0
    max: 100
    step: 1
  -
    id: bloom
    title: Bloom
    type: heading
    level: 2
  -
    id: bloom-fct
    title: Strength
    type: variable-number-slider
    default: .2
    min: 0
    max: 1
    step: .05
  -
    id: ion-threshold
    title: Threshold
    type: variable-number-slider
    default: 80
    min: 0
    max: 100
    step: 1
*/

/*Reset*/
.theme-dark {
  --color-base-00: #000;
  --color-base-10: #000;
  --color-base-20: #000;
  --color-base-25: #000;
  --color-base-30: #000;

  --color-base-50: #000;

  --color-base-70: #000;
  --color-base-100: #024;

  --tab-divider-color: #000;
}

body {
  --bloom-fct: .2;
  --bloom-const: .1em;
  --bloom: calc(var(--bloom-const) * var(--bloom-fct));
  --ion-threshold: 80;

  --base-h: 25;
  --base-s: 40%;
  --base-l-p: 85;

  --ion-h: var(--base-h);
  --ion-s: var(--base-s);
  --ion-l-p: var(--base-l-p);
}

* {
  --ion-l: calc(var(--ion-l-p) * 1%);
  --ion-color: hsl(var(--ion-h), var(--ion-s), var(--ion-l));
  --bloom-hsl: var(--ion-h), var(--ion-s), 50%;
  --bloom-color: hsl(var(--bloom-hsl));
  --bloom-size: calc(var(--bloom) * (var(--ion-l-p) - var(--ion-threshold)));
}

:root:root:root:root:root * {
  color: var(--ion-color);
}

* {
  text-shadow: 0 0 var(--bloom-size) var(--bloom-color), 0 0 min(calc(var(--bloom-size) / 2), 1em) var(--bloom-color);
}

.markdown-source-view.mod-cm6 .cm-content {
  caret-color: var(--ion-color);
}

/* Headings */
h1, .cm-header-1 { --ion-h: calc(10 + 0 * 50); }
h2, .cm-header-2 { --ion-h: calc(10 + 1 * 50); }
h3, .cm-header-3 { --ion-h: calc(10 + 2 * 50); }
h4, .cm-header-4 { --ion-h: calc(10 + 3 * 50); }
h5, .cm-header-5 { --ion-h: calc(10 + 4 * 50); }
h6, .cm-header-6 { --ion-h: calc(10 + 5 * 50); }

.inline-title, .cm-header,
h1, h2, h3, h4, h5, h6 {
  --ion-s: 100%;
  --ion-l-p: 90;
}

/* Scrollbars */
body:not(.native-scrollbars) ::-webkit-scrollbar-thumb,
body:not(.native-scrollbars) ::-webkit-scrollbar-thumb:hover,
body:not(.native-scrollbars) ::-webkit-scrollbar-thumb:active {
  --ion-l-p: 15;
  --ion-l: calc(var(--ion-l-p) * 1%);
  background-color: hsl(var(--ion-h), var(--ion-s), var(--ion-l));
}
body:not(.native-scrollbars) ::-webkit-scrollbar-thumb:hover,
body:not(.native-scrollbars) ::-webkit-scrollbar-thumb:active {
  --ion-l-p: 70;
}
