/*Reset*/
.theme-dark {
  --color-base-00: #000;
  --color-base-10: #000;
  --color-base-20: #000;
  --color-base-25: #000;
  --color-base-30: #002;

  --color-base-50: #013;

  --color-base-70: #014;
  --color-base-100: #024;
}

body {
  --bloom: .03em;
  --ion-threshold: 80;

  --base-h: 25;
  --base-s: 40%;
  --base-l-p: 85;

  --ion-h: var(--base-h);
  --ion-s: var(--base-s);
  --ion-l-p: var(--base-l-p);
}

* {
  --ion-l: calc(var(--ion-l-p) * 1%);

  --ion-color: hsl(var(--ion-h), var(--ion-s), var(--ion-l));

  --bloom-color: hsl(var(--ion-h), var(--ion-s), 50%);
  --bloom-size: calc(var(--bloom) * (var(--ion-l-p) - var(--ion-threshold)));
}


.inline-title,

.cm-header,
.markdown-preview-view :is(h1, h2, h3, h4, h5, h6),

.cm-line,
.markdown-preview-view p,

a, .external-link
{
  color: var(--ion-color);
  text-shadow: 0 0 var(--bloom-size) var(--bloom-color), 0 0 min(calc(var(--bloom-size) / 2), 1em) var(--bloom-color);
}


h1, h2, h3, h4, h5, h6,
.inline-title,
.cm-header {
  --ion-s: 100%;
  --ion-l-p: 90;
}

h1, .cm-header-1 { --ion-h: calc(0 * 45); }
h2, .cm-header-2 { --ion-h: calc(1 * 45); }
h3, .cm-header-3 { --ion-h: calc(2 * 45); }
h4, .cm-header-4 { --ion-h: calc(3 * 45); }
h5, .cm-header-5 { --ion-h: calc(4 * 45); }
h6, .cm-header-6 { --ion-h: calc(5 * 45); }
